body {
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center; 
     margin-top: 50px;

}

input {
     padding: 10px;
     width: 100px;
     border-radius: 10px;
     width: 200px;
     border-width: 1px;
}
input:hover{
     border-color: rgb(1, 207, 207);
}

button {
     padding: 10px 20px;
     cursor: pointer;
     border-radius: 10px;
     border-width: 1px;

}
button:hover{
     background-color: aqua;
}

#message {
     margin-top: 20px;
     font-weight: bold;
}
.margin{
     margin: 32px;
}